body{
  background-color: #222222;
}

.App {
  text-align: center;
  width:100%;
}

.inputfield{
  width: 100%;
  position: fixed;
}

.urlInput{
  width: 20%;
  height: 25px;
}
.aboutInput{
  width: 15%;
  height: 25px;
}
.post{
  width:5%;
  height: 31px;
}
.list div{
  margin-top: 50px;
}


/*-------Posts.js--------- */

.imageHolder{
  text-align: center;
  width:500px;
  height: 500px;
  margin: 0 auto;
  border-radius:5px;
  object-fit:contain;
  background-color: white;
}
.postImage{
  width:95%;
  height:400px;
  
}